<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>

<h2>Student Registration</h2>

<form
        th:action="@{/register}"
        th:object="${user}"
        method="post">

    <label>Name</label><br>
    <input type="text" th:field="*{name}">
    <div th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}"></div>

    <br><br>

    <label>Email</label><br>
    <input type="email" th:field="*{email}">
    <div th:if="${#fields.hasErrors('email')}"
         th:errors="*{email}"></div>
    <br><br>

    <label>Phone Number</label><br>
    <input type="text" th:field="*{phoneNo}">
    <div th:if="${#fields.hasErrors('phoneNo')}"
         th:errors="*{phoneNo}"></div>

    <br><br>
    <label>Password</label><br>
    <input type="password" th:field="*{password}">
    <div th:if="${#fields.hasErrors('password')}"
         th:errors="*{password}"></div>
    <br><br>


    <label>confirm password</label><br>
    <input type="password" th:field="*{confirmPassword}">
    <div th:if="${#fields.hasErrors('confirmPassword')}"
         th:errors="*{confirmPassword}"></div>
    <br><br>

    <button type="submit">
        Register
    </button>

</form>

<br>

<a th:href="@{/login}">
    Already have an account? Login
</a>

</body>
</html>